ccsf	{ font-family:"Verdana, Arial, sans-serif"; font-size:1.2em; }
cnit131	{ display:block; color:blue;}
cnit131a { display:block; color:green;}
cnit132  { display:block; color:red;}
cnit133 { display:block; color:gray;}
instructor { font-weight: bold; font-style: italic;}
