
body {
  background-color:#fff2df ;

}


p {
  color: #000000;
  font: fantasy;
  
}

	
}

h1 {
  color: #674d3c;
  
}

h2 {
	color:#a2836e;
	

}

h3 {
	color:#d9ad7c ;
	

}



