body	{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif  ;background-color:#F3F3F3; }

h1		{ font-family: Futura, sans-serif;   color:#0000FF; }

title	{ display:block; color:black; font:bold 36pt; }

table	{ border-collapse: collapse; border: 1 px solid black; }

table, th, td { padding: 15px; text-align: left; border: 1 px solid black; }

a:link { color: blue; }

a:visited { color: red; }

a:hover { color: purple; }
